<!--
  Date format snippet
  See: /assets/js/_utils/timeage.js
-->

{% assign tooltip_df = site.data.date_format.tooltip | default: '%A, %e de %B de %Y, %H:%M' %}
{% assign post_long_df = site.data.date_format.post.long | default: '%e de %B de %Y' %}
{% assign post_short_df = site.data.date_format.post.short | default: '%e de %B' %}

<span class="timeago {% if include.class %}{{ include.class }}{% endif %}"
  {% if include.tooltip %}
    data-toggle="tooltip"
    data-placement="bottom"
    title="{{ include.date | date: tooltip_df
        | replace: 'Monday', 'Segunda-feira'
        | replace: 'Tuesday', 'Terça-feira'
        | replace: 'Wednesday', 'Quarta-feira'
        | replace: 'Thursday', 'Quinta-feira'
        | replace: 'Friday', 'Sexta-feira'
        | replace: 'Saturday', 'Sábado'
        | replace: 'Sunday', 'Domingo'
        | replace: 'January', 'Janeiro'
        | replace: 'February', 'Fevereiro'
        | replace: 'March', 'Março'
        | replace: 'April', 'Abril'
        | replace: 'May', 'Maio'
        | replace: 'June', 'Junho'
        | replace: 'July', 'Julho'
        | replace: 'August', 'Agosto'
        | replace: 'September', 'Setembro'
        | replace: 'October', 'Outubro'
        | replace: 'November', 'Novembro'
        | replace: 'December', 'Dezembro' }}"
  {% endif %}

  {% if include.prefix %}prefix="{{ include.prefix }} "{% endif%}
  {% if include.prep %}prep="{{ include.prep }}"{% endif %} >

  {% assign this_year = site.time | date: "%Y" %}
  {% assign post_year = include.date | date: "%Y" %}

  {% if post_year == this_year %}
    {{ include.date | date: post_short_df }}
  {% else %}
    {{ include.date | date: post_long_df }}
  {% endif %}

  <i class="unloaded">{{ include.date | date_to_xmlschema }}</i>

</span>
